
/* 18px screens (e.g., desktops) */
@media (min-width: 1093px) {
  .each-slide > div {
    background-size: cover;
    height: 99vh;
  }
  .each-slide-child .Slidetop {
    padding: 10px 20px;
    font-size: 90px;
  }

  .each-slide-child .Slidetitle {
    font-size: 100px;
  }
  .each-slide-child .Slidedetails {
    font-size: 20px;
    width: 70%;
  }

  .aboutContent {
    width: 50%;
    margin: 0 auto;
  }

  .pane {
    width: 80%;
    margin: 0 auto;
  }

    label, b {
    font-size: 16px;
  }
  .form-control{
    font-size: 16px;
    padding: 15px 25px;
  }
  .btn{
    padding:17px;
    font-size: 16px;
  }
  .form-title {
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
  }
  .text-tiny{
  font-size: 14px;
}
.text-small{
  font-size: 20px;
}
.text-medium{
  font-size: 25px;
}
.text-large{
  font-size: 30px;
}

  .navigator-footer{
    font-size: 16px;
  }
  .form-top-logo{
    height: 70px;
  }
  .bg-image_logo{
    height: 600px;
  }
    .alert{
    font-size: 15px
  }
}
