
/* Medium screens (e.g., tablets) */
@media (min-width: 620px) and (max-width:  1093px) {
  .each-slide2 > div {
    height: 30vh;
  }
  .react-slideshow-container .nav {
    display: none;
  }
  .each-slide > div {
    background-size: cover;
    height: 85vh;
  }

  .each-slide-child .Slidetop {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 35px;
  }

  .each-slide-child .Slidetitle {
    font-size: 55px;
    line-height: 50px;
  }
  .each-slide-child .Slidedetails {
    font-size: 18px;
  }
  .aboutContent {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
  }
  .footer .container-fluid {
    padding-left: 10px;
  }
  .footer .col-lg-6 {
    padding-left: 50px;
    padding-bottom: 20px;
  }
  .footer .col-lg-2 {
    font-size: 12px !important;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-top: 30px;
  }

    label, b {
    font-size: 16px;
  }
  .form-control{
    font-size: 16px;
    padding: 15px 25px;
  }
  .btn{
    padding:17px;
    font-size: 16px;
  }
  .form-title {
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
  }
.text-tiny{
  font-size: 13px;
}
.text-small{
  font-size: 16px;
}
.text-medium{
  font-size: 23px;
}
.text-large{
  font-size: 27px;
}
  .navigator-footer{
    font-size: 16px;
  }
  .form-top-logo{
    height: 70px;
  }
  .bg-image_logo{
    height: 600px;
  }
  .alert{
    font-size: 14px
  }
}
